body{background-color: #f5ebe0b4;
padding-left: 5%;}
hr{border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
height: 0;}
h3{color: #A10035;}
h1{color: #A10035;}
